*, ::after, ::before {
	box-sizing: border-box;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .lg-container, .md-container, .mm-container, .sm-container, .xl-container, .xs-container {
	width: 100%;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
	margin-right: auto;
	margin-left: auto;
}

.container, .lg-container, .md-container, .mm-container, .sm-container, .xl-container, .xs-container {
	width: 100%;
	max-width: 1170px;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

.site-content-wrapper {
	padding-top: 60px;
	position: relative;
}
body {
	margin: 0;
	font-family: Roboto,Arial,sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.45;
	color: #1a1a1a;
	background-color: #fff;
}
body {
	text-align: center;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
	margin-bottom: 0.5rem;
}

.home-h2 {
	font-size: 1.8rem;
	font-weight: 500;
	text-align: center;
}

.home-h3{
	font-size: 1.2rem;
	font-weight: 500;
	text-align: center;
	font-style: italic;
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}

/* @media all and (min-width:768px) */
.col-md-4 {
	flex: 0 0 33.33333%;
	max-width: 33.33%;
	box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
}

.courses-grid-item, .hoverblock, .liveclass-grid-item, .sp-item-todolist-add, .termlist-grid-item, .testitem-wrapper {
	cursor: pointer;
	color: #96b0ca;
}
.courses-grid-item {
	min-height: 200px;
	color: #0a0a0b;
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	padding: 0;
	margin-bottom: 1rem;
	/* background-color: #f0f8ff; */
}

a {
	cursor: pointer;
}
.courses-grid-item a {
	color: #1a1a1a;
}
.courses-grid-item-image {
	height: 200px;
	position: relative;
}
img {
	border-style: none;
}

.courses-grid-item-title {
	font-weight: 500;
	font-size: 1rem;
	overflow: hidden;
	background-position: 50%;
	background-size: cover;
	padding: .5rem 1rem .25rem;
	border-top-left-radius: 0.45rem;
	border-top-right-radius: 0.45rem;
}

.tag {
	display: inline-flex;
	margin-bottom: 5px;
	cursor: pointer;
	/* border-radius: 10px solid rgb(88, 88, 212); */
}
:not(.plain).tag {
	padding: 3px 10px;
	font-size: 20px;
	/* border-radius: 15px; */
	text-align: left;
	background-color: #f0f8ff;
	/* color: #35509a; */
}

.courses-grid-item-image img {
	object-fit: contain;
	width: 100%;
	height: 100%;
	display: block;
}
.text-muted {
	color: #8c98a4 !important;
}
