:root {
    --btn-hover-color:#5f84a2;
    --btn-color:#b7d0e1;
    --text-dark-color: #194569;
    --text-light-color: #5f84a2;

    --blue-first-color: #cadeed;
    --blue-second-color: #b7d0e1;
    --blue-third-color: #91aec4;
    --blue-fourth-color: #5f84a2;
    --blue-fifth-color: #194569;
}

* {
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style-type: none;   
}
html {
    scroll-behavior: smooth;   
}
.col-3-4 {
    width: 70%;
    float: left;
}
.col-1-4 {
    width: 30%;
    float: right;
}
.row {
    width: 100%;
}
.review {
    width: 100%;
}
.review-title .subject-title{
    border-bottom: 3px solid var(--blue-first-color);
    text-align: left;
    color: var(--text-dark-color);
    padding: 2rem 0 .5rem 1rem;
    font-size: 1rem;
}
.review-title-exam {
    padding: 1rem 2rem 0 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between; 
}
.review-sub-info {
    padding: 0 1rem .5rem 2rem;
    font-size: .9rem;
    display: flex;
    border-bottom: 1px solid var(--blue-first-color);
}
.review-sub-info i::before {
    padding-left: 1rem;
    padding-right: .3rem;
}
.btn-again {
    border-radius: 20px;
    border: 1px solid var(--btn-color);
    background-color: var(--btn-color);
    color:black;
    font-size: .7rem;
    font-weight: bold;
    padding:8px 12px;
    margin: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
.btn-again:hover {
    cursor: pointer;
    border: 1px solid var(--btn-hover-color); 
    background-color: var(--btn-hover-color); 
    color: #fff;
}

/* TAI LIEU DANG DOC */
.container-sub-content {
    background-color: var(--blue-first-color);
    margin: 4rem 2rem .5rem 2rem;
    border-radius: .8rem;  
}
.container-sub-content .sub-title{
    text-align: center;
    color: var(--text-dark-color);
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 1rem;
}
.re-read {
    text-align: center;
    padding: 1rem 0 2rem 0;
}
.img-book-re-read {
    width: 150px;
    height: 200px;
}
.btn-re-read {
    border-radius: 20px;
    border: 1px solid var(--btn-hover-color);
    background-color: var(--btn-hover-color);
    color:black;
    font-size: .7rem;
    font-weight: bold;
    padding:8px 12px;
    margin-top:.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
} 
.btn-re-read:hover{
    cursor: pointer;
    /* border: 1px solid var(--btn-color); 
    background-color: var(--btn-color);  */
    color: #fff;
}